.btn {
  @apply font-medium text-lg py-2 px-6 rounded-full;
  width: 260px;
  height: 50px;
  color: #cbcfd7 !important;
  background-color: #1D1D1D !important;
  position: relative;
}

.btn:hover{
  background-color: #343434 !important;
}
.btn:hover svg{

}

.btn-black {
  @apply bg-gray-900 text-white;
}

.btn-black:hover {
  @apply bg-gray-700;
}
